# Example OpenOCD.cfg. You may want to add this to your gitignore and modify it for your debugger etc.
# This will work for picoprobes/rpi debug probes/generic cmsis-dap adapters.
source [find interface/cmsis-dap.cfg]
source [find target/rp2040.cfg]

adapter speed 2000